# Environment files
.env
.env.*
!.env.example

# Dependencies
node_modules/
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Runtime data
*.pid
*.seed

# Coverage
coverage/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Debug files
*.pem
*.dump